# Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=https://bmweeqtibshxosnpppfg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtd2VlcXRpYnNoeG9zbnBwcGZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU2MjA5ODQsImV4cCI6MjA2MTE5Njk4NH0.Iu_0ylp-Z6Vh3G1e5ewXPQEdV4__TxWnRSN8zp-LcpM
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Admin emails (comma-separated list)
ALLOWED_ADMIN_EMAILS=admin@desaconnect.com,admin2@desaconnect.com 